{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, pybo!</title>
</head>
<body>
{% comment %} <!-- 네비게이션바는 모든 페이지에서 공통적으로 보여야하므로 base.html 템플릿에 추가 -->
<!-- navbar-expand-lg : 화면 크기가 일정 이상일 때 네비게이션 바가 확장되도록 지정 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <!-- 너비가 가변적인 레이아웃 생성-->
    <div class="container-fluid">
        <!-- 네비게이션 바의 로고를 Pybo로 설정 -->
        <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>
        <!-- 네비게이션 바 토글 버튼 -->
        <!-- data-bs-target : 토글할 대상 요소를 지정 -->
        <!-- aria-controls : 토글 대상 요소의 ID 지정 -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav> {% endcomment %}
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>

